#loadcache2("VOICE*" true)

<grid-form version="1.0"
    writer="com.qmatic.web.serversettings.DefaultWriter">
    #cdata("label" "$item $name")

    #set( $section            = "VOICE_SETTING_$item"                                    )

    ##    SECTION  KEY             LABEL_ID               TYPE          HELP_ID               MIN MAX  REGEXP
    ##--------------------------------------------------------------------------------------------------------

    #qsys("VOICE"  "NAME$item"     "voice.name"           "text"        "voice.name"          0   40   "" )
    #qsys($section "SOUND_CARD"    "voice.useSoundCard"   "checkbox"    "voice.useSoundCard"  0   1    "" )
    #qsys($section "WAVE_FILE"     "voice.useWavFormat"   "checkbox"    "voice.useWavFormat"  0   1    "" )
    #qsys($section "TEXT"          "voice.voiceScript"    "script"      "voice.voiceScript"   0   0    "" )

</grid-form>