#loadcache2("VOICE*" true)

<tree version="1.0"
           image="images/voice.gif">
    #cdata("label" $text.getText("voice.treeHeading"))

    #set( $top_node_label          = $text.getText("voice.general")             )
    #set( $item_node_label         = $text.getText("voice.treeHeading")         )

    #set( $top_node_image          = "images/voiceinterface.gif"                )
    #set( $item_node_image         = "images/voice.gif"                         )

    #set( $section_main            = "VOICE"                                    )
    #set( $section_settings        = "VOICE_SETTING_"                           )


    #set( $top_node_grid           = "./voice/form_voice_main.vm"               )
    #set( $item_node_grid          = "./voice/form_voice.vm"                    )

    #set( $top_node_action         = "./voice/action_voice_main.vm"             )

##------------------------------------------------------------------------------

    ## Get a list with the names of all items

    #set($items = $sm.getStringList( $section_main, "NAME"))

    ## Get the number of items in the system

    #set($maxitems = $sm.getNumericSetting( $section_main, "MAX"))
    #nodestart($top_node_label $top_node_image)
          <grid-ref>
                #cdata("name" $top_node_grid)
          </grid-ref>
          <action-ref>
                #cdata("name" $top_node_action)
                #param("section" ${section_main})
                #param("group" ${maxitems})
          </action-ref>

          ## List all items
          #if( $maxitems > 0 )
              #foreach($item in [1..$maxitems])
                  #nodestart($sm.getStringSetting($section_main, "NAME$item") $item_node_image)
                        <grid-ref>
                            #cdata("name" $item_node_grid)
                            #param("item" ${item})
                            #param("name" $sm.getStringSetting($section_main, "NAME$item"))
                        </grid-ref>
                  </node>
                  #set($item = $item + 1)
              #end
          #end
    </node>

    #perf()

</tree>
