<grid-form version="1.0" writer="com.qmatic.web.serversettings.DefaultWriter">

    ##       SECTION   KEY    LABEL_ID             SCRIPT_FILE        GROUP MIN  MAX
    ##-------------------------------------------------------------------------------

    <field  type  = "button">
           #cdata("label" $text.getText("license.addslot"))
           #cdata("name" "license.addslot")
      <params>
            #param("action-script" "./license/item_add.vm")
      </params>
    </field>

    <field type="hidden">
        #cdata("name" "section")
        #cdata("init-value" "DEDICATED_LICS")
    </field>
    <field type="hidden">
        #cdata("name" "key")
        #cdata("init-value" $slot)
    </field>
    <field type="hidden">
        #cdata("name" "default")
        #cdata("init-value" $text.getText("common.defaultName"))
    </field>


</grid-form>
