<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Worker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
        <clear />
        <add name="DefaultConnection" connectionString="Data Source=127.0.0.1;Initial Catalog=MsQms_db;User ID=qmatic;Password=qmatic;Persist Security Info=True"
            providerName="System.Data.SqlClient" />
        <add name="ExceptionsConnection" connectionString="Data Source=127.0.0.1;Initial Catalog=MsQms_db;User ID=qmatic;Password=qmatic;Persist Security Info=True"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
		<binding name="SuoIntegrationBinding" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" />
      </basicHttpBinding>
    </bindings>
    <client>
	    <endpoint address="http://smsuodm-test.ca.sbrf.ru:9080/smsuo/is/suo/SuoIntegrationService"
        binding="basicHttpBinding" bindingConfiguration="SuoIntegrationBinding"
        contract="Qis.SuoIntegration" name="SuoIntegration" />
    </client>
  </system.serviceModel>
  <userSettings>
    <Worker.Properties.Settings>
	
  <setting name="CheckCorrectnessDays" serializeAs="String">
        <value>1.00:00:00</value>
      </setting>
      <setting name="QmsEventsPort" serializeAs="String">
        <value>5051</value>
      </setting>
      <setting name="QmsWebPort" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="RemoveEventsOlderThan" serializeAs="String">
        <value>1.00:00:00</value>
      </setting>
      <setting name="RetrieveDictionaryEndTime" serializeAs="String">
        <value>22:00:00</value>
      </setting>
      <setting name="EventSendInterval" serializeAs="String">
        <value>00:00:30</value>
      </setting>
      <setting name="MaxValueSendedEvents" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="UseStepVSPInf" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SendStaticDataTimer" serializeAs="String">
        <value>00:04:00</value>
      </setting>
      <setting name="QmsAddress" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="RetrieveDictionaryStartTime" serializeAs="String">
        <value>21:00:00</value>
      </setting>
      <setting name="TicketLineFinishSendPeriod" serializeAs="String">
        <value>00:00:05</value>
      </setting>
      <setting name="IsCorrectedTimeout" serializeAs="String">
        <value>00:01:00</value>
      </setting>
      <setting name="QsysUploadPath" serializeAs="String">
        <value>C:\ProgramData\Q-MATIC\QWIN S\Tomcat\webapps\QWIN\ca\update\msqms_qsys_script.qsp</value>
      </setting>
      <setting name="QsysFilename" serializeAs="String">
        <value>c:\tmp\qsys.zip</value>
      </setting>
      <setting name="OldSuoVer" serializeAs="String">
        <value>5.6.4</value>
      </setting>
      <setting name="MsqmsUploadDataPathToLogFile" serializeAs="String">
        <value>C:\ProgramData\Q-MATIC\QWIN S\Tomcat\webapps\QWIN\ca\UploadLogFile.txt</value>
      </setting>
      <setting name="CreateUploadLogFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DomainName" serializeAs="String">
        <value>sberbank</value>
      </setting>
      <setting name="WasFirstDataSend" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PathToBinFile" serializeAs="String">
        <value>C:\ProgramData\Q-MATIC\QWIN S\Tomcat\webapps\QWIN\touchscreens\super\cardlist.qsp</value>
      </setting>
      <setting name="EditLogFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="day_pic" serializeAs="String">
        <value>513</value>
      </setting>
      <setting name="patch_day_pic" serializeAs="String">
        <value>C:\ProgramData\Q-MATIC\QWIN S\Tomcat\webapps\QWIN\ca\day_pic.txt</value>
      </setting>
    </Worker.Properties.Settings>
  </userSettings>
</configuration>


