<grid-form version="1.0"
    writer="com.qmatic.web.serversettings.DefaultWriter">
    <label></label>


    ##       SECTION   KEY    LABEL_ID        SCRIPT_FILE        GROUP  MIN  MAX
    ##-------------------------------------------------------------------------------

    #button( $section  "MAX"  "host.addConn"  "./add_action.vm"  0      0    99 )
    #button( $section  "MAX"  "host.remConn"  "./rem_action.vm"  0      0    99 )

</grid-form>
