<grid-form version="1.0"
    writer="com.qmatic.web.serversettings.DefaultWriter">
    <label></label>


    ##       SECTION   KEY             LABEL_ID             SCRIPT_FILE        GROUP  MIN  MAX
    ##------------------------------------------------------------------------------------------

    #button( $section  "RUN_PROG_MAX"  "host.addRunScript"  "./add_action.vm"  0      0    99 )
    #button( $section  "RUN_PROG_MAX"  "host.remRunScript"  "./rem_action.vm"  0      0    99 )

</grid-form>
