#loadcache2("HOST*" true)

<grid-form version="1.0"
    writer="com.qmatic.web.serversettings.DefaultWriter">
    #cdata("label" $text.getText("host.runScriptHeading"))

    #set( $section            = "HOST"                                          )

    ##    SECTION  KEY               LABEL_ID            TYPE       HELP_ID            MIN  MAX     REGEXP
    ##-----------------------------------------------------------------------------------------------------

    #qsys($section "RUN_PROG$item"   "host.runScript"    "script"   "host.runScript"   0    30000   "" )

</grid-form>
