#loadcache2("PASSWORD*" true)

<grid-form version="1.0"
    writer="com.qmatic.web.serversettings.DefaultWriter">
    #cdata("label" $text.getText("passwords.mainSettingsHeading"))

    #set( $section            = "PASSWORD"                                         )

    ##    SECTION  KEY             LABEL_ID                 TYPE          HELP_ID                  MIN MAX REGEXP
    ##------------------------------------------------------------------------------------------------------------

    #qsys($section "COMPLEX"       "passwords.complex"      "checkbox"    "passwords.complex"      0   1   "" )
    #qsys($section "UNIQUE"        "passwords.unique"       "checkbox"    "passwords.unique"       0   1   "" )
    #qsys($section "NUM_AT_ENDS"   "passwords.numAtEnds"    "checkbox"    "passwords.numAtEnds"    0   1   "" )
    #qsys($section "PSW_EQ_USER"   "passwords.pswEqUser"    "checkbox"    "passwords.pswEqUser"    0   1   "" )
    #qsys($section "CONSECUTIVE"   "passwords.consecutive"  "checkbox"    "passwords.consecutive"  0   1   "" )
    #qsys($section "DICTIONARY"    "passwords.dictionary"   "checkbox"    "passwords.dictionary"   0   1   "" )
    #qsys($section "DICT_PART"     "passwords.partDict"     "checkbox"    "passwords.partDict"     0   1   "" )
    #qsys($section "NO_CHANGE"     "passwords.noChange"     "checkbox"    "passwords.noChange"     0   1   "" )
    #qsys($section "AUDITING"      "passwords.auditing"     "checkbox"    "passwords.auditing"     0   1   "" )
    #qsys($section "STRICT_VER"    "passwords.strictVer"    "checkbox"    "passwords.strictVer"    0   1   "" )

    #qsys($section "AGE"           "passwords.age"          "number"      "passwords.age"          0   365 "" )
    #qsys($section "LENGTH"        "passwords.length"       "number"      "passwords.length"       0   50  "" )
    #qsys($section "REUSE"         "passwords.reuse"        "number"      "passwords.reuse"        0   50  "" )
    #qsys($section "ATTEMPS"       "passwords.attempts"     "number"      "passwords.attempts"     0   50  "" )
    #qsys($section "BLOCKING"      "passwords.blocking"     "number"      "passwords.blocking"     0   50  "" )
    #qsys($section "PARTLY_OLD"    "passwords.partlyOld"    "number"      "passwords.partlyOld"    0   50  "" )
    #qsys($section "EXPIRE_WARN"   "passwords.expireWarn"   "checkbox"    "passwords.expireWarn"   0   365 "" )

</grid-form>
