#loadcache2("PASSWORD*" true)

<tree version = "1.0"
      image   = "images/security.gif">
      #cdata("label" $text.getText("security.treeHeading"))

    #set( $password_node_label     = $text.getText("password.generalNodeLabel") )
    #set( $password_node_image     = "images/passwords.gif"                     )

    #set( $section_main            = "PASSWORD"                                 )

    #set( $password_node_grid      = "./security/form_passwords.vm"             )

##------------------------------------------------------------------------------
    #nodestart($password_node_label $password_node_image)
            <grid-ref>
                #cdata("name" $password_node_grid)
            </grid-ref>
    </node>
</tree>
