<grid-form version="1.0"
    writer="com.qmatic.web.serversettings.DefaultWriter">
    <label></label>

    ##       SECTION   KEY    LABEL_ID                  SCRIPT_FILE        GROUP  MIN  MAX
    ##-----------------------------------------------------------------------------------

    #button( $section  "MAX"  "cardvalid.addCardValid"  "./add_action.vm"  0      0    255 )
    #button( $section  "MAX"  "cardvalid.remCardValid"  "./rem_action.vm"  0      0    255 )

</grid-form>
