<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
      <supportedRuntime version="v2.0.50727"/>
    </startup>
  <appSettings>
    <add key="premittedGroups" value="Queue_ShiftAdmin, Queue_ShiftModerator, Queue_Operator, Queue_OperatorUrlits, suo_root_user, suo_branchadmin"/>
    
    <!--адрес сервиса например "http://localhost:8080/" или "http://192.168.0.91:80/"  -->
    <add key="baseUrl" value="http://localhost:8080/" />
  </appSettings>
</configuration>
