#loadcache2("INTERFACE*" true)

<grid-form version="1.0"
    writer="com.qmatic.web.serversettings.DefaultWriter">
    #cdata("label" "$item. $name")

    #set( $section                = "INTERFACE"                                 )

    ##    SECTION   KEY            LABEL_ID      TYPE     HELP_ID       MIN  MAX   REGEXP
    ##------------------------------------------------------------------------------------

    #qsys($section  "NAME$item"    "intf.name"   "text"   "intf.name"   0    40    "" )


</grid-form>
