<grid-form version="1.0"
    writer="com.qmatic.web.serversettings.DefaultWriter">
    <label></label>

    ##       SECTION   KEY    LABEL_ID             SCRIPT_FILE        GROUP MIN  MAX
    ##-------------------------------------------------------------------------------

    #button( $section  "MAX"  "buttons.addButton"  "./buttons/add_button.vm"  $item 0    255 )

</grid-form>
