<grid-form version="1.0" writer="com.qmatic.web.serversettings.DefaultWriter">
    #cdata("label" $text.getText("calendar.mainSettingsHeading"))
    #set( $section            = "APPOINTMENT"                                    )

    ##    SECTION  KEY                   LABEL_ID                  TYPE          HELP_ID                  MIN  MAX    REGEXP
    ##-----------------------------------------------------------------------------------------------------------------------

    #qsys($section "APP_VALID_BEFORE"    "calendar.validBefore"    "time"        "calendar.validBefore"   0    32400  ""     )
    #qsys($section "APP_VALID_AFTER"     "calendar.validAfter"     "time"        "calendar.validAfter"    0    32400  ""     )
    #qsys($section "APP_VALID_DAY"       "calendar.validDay"       "checkbox"    "calendar.validDay"      0    1      ""     )

    <field type  = "list" helpid = "calendar.sortAppoint">
         #cdata("label" $text.getText("calendar.sortAppoint"))
         #cdata("name" "${section}_APP_SORT")
        <params>
            #param("ns" $section)
            #param("key" "APP_SORT")
            #param("multiple" "false")
            #param("size" "1")
        </params>

        #cdata("init-value" $sm.getStringSetting($section, "APP_SORT"))

        <accepted-values>
            #accepteditem("0" $text.getText("calendar.noSort"))
            #accepteditem("1" $text.getText("calendar.appTimeSort"))
            #accepteditem("2" $text.getText("calendar.tickNumSort"))
        </accepted-values>
    </field>

    <field helpid = "calendar.assignNumbers" type="list">
         #cdata("label" $text.getText("calendar.assignNumbers"))
         #cdata("name" "${section}_ASSIGN_NUMBERS")

        <params>
            #param("ns" $section)
            #param("key" "ASSIGN_NUMBERS")

            #param("multiple" "false")
            #param("size" "1")
        </params>
        #cdata("init-value" $sm.getStringSetting($section, "ASSIGN_NUMBERS"))

        <accepted-values>
            #accepteditem("0" $text.getText("calendar.noAssign"))
            #accepteditem("1" $text.getText("calendar.catAssign"))
            #accepteditem("2" $text.getText("calendar.buttAssign"))
        </accepted-values>
    </field>


</grid-form>
