<grid-form version="1.0"
    
    writer="com.qmatic.web.serversettings.DefaultWriter">

    #set( $grp = 0 )
    #set( $grp = 1 + $grp.parseInt($group))

    ##       SECTION   KEY    LABEL_ID              SCRIPT_FILE        GROUP MIN  MAX
    ##-------------------------------------------------------------------------------

    #button( $section  "MAX"  "category.addButton"  "./add_action.vm"  $grp  0    255 )
    #button( $section  "MAX"  "category.remButton"  "./rem_action.vm"  1     0    255 )

</grid-form>

