<grid-form version="1.0"
    writer="com.qmatic.web.serversettings.DefaultWriter">
    <label></label>

    ##       SECTION   KEY    LABEL_ID                  SCRIPT_FILE        GROUP MIN  MAX
    ##------------------------------------------------------------------------------------

    #button( $section  "MAX"  "wterminal.addWterminal"  "./add_action.vm"  $item 0    99 )

</grid-form>
