/* -------------------------------------- */
/*                                        */
/* Custom css for Q-Matic demo page       */
/*                                        */
/* -------------------------------------- */

/* -------------------------------------- */
/* Main                                   */
/* -------------------------------------- */

body {
}
td.mainOuter {
  vertical-align: top;
}

/* -------------------------------------- */
/* Buttons                                */
/* -------------------------------------- */

table.mainButtons {
  height: 720px;
}
div.buttonOuter {
  background: url(../images/button-qmatic.png) no-repeat;
}

/* -------------------------------------- */
/* Logo                                   */
/* -------------------------------------- */

div.logo {
  background: url(../images/logo-qmatic.png) no-repeat;
  top: 740px;
  left: 250px;
  width: 212px;
  height: 47px;
}

/* -------------------------------------- */
/* Ticket splash                          */
/* -------------------------------------- */

div.splash {
  border: solid 3px #9F1A2B;
}

/* -------------------------------------- */
/* -------------------------------------- */
