<grid-form version="1.0"
    writer="com.qmatic.web.serversettings.DefaultWriter">
    <label></label>

    ##       SECTION   KEY    LABEL_ID           SCRIPT_FILE        GROUP  MIN  MAX
    ##-------------------------------------------------------------------------------

    #button( $section  "MAX"  "emails.addEmail"  "./add_action.vm"  0      0    9999 )
    #button( $section  "MAX"  "emails.remEmail"  "./rem_action.vm"  1      0    9999 )

</grid-form>
