<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QPrognos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <QPrognos.Properties.Settings>
            <setting name="ip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="CheckTimeOut" serializeAs="String">
                <value>01:00:45</value>
            </setting>
            <setting name="RefreshTimeOut" serializeAs="String">
                <value>01:00:50</value>
            </setting>
        </QPrognos.Properties.Settings>
    </userSettings>
</configuration>
