<grid-form version="1.0"
    label=""
    writer="com.qmatic.web.serversettings.DefaultWriter">

    ##       SECTION   KEY    LABEL_ID              SCRIPT_FILE        GROUP MIN  MAX
    ##-------------------------------------------------------------------------------

    #button( $section  "MAX"  "printer.addPrinter"  "./add_action.vm"  $item 0    99 )

</grid-form>
