<grid-form version="1.0"
    writer="com.qmatic.web.serversettings.DefaultWriter">
    #cdata("label" "")
    #set( $grp = 0 )
    #set( $grp = 1 + $grp.parseInt($group))

    ##       SECTION   KEY    LABEL_ID           SCRIPT_FILE        GROUP  MIN  MAX
    ##-------------------------------------------------------------------------------

    #button( $section  "MAX"  "alarms.addAlarm"  "./add_action.vm"  $grp   0    99 )
    #button( $section  "MAX"  "alarms.remAlarm"  "./rem_action.vm"  1      0    99 )

</grid-form>
