<grid-form version="1.0"
    writer="com.qmatic.web.serversettings.DefaultWriter">

    ##       SECTION   KEY    LABEL_ID              SCRIPT_FILE        GROUP MIN  MAX
    ##-------------------------------------------------------------------------------

    #button( "PRIORITY"  "MAX"  "priority.addPriority"  "./priorities/add_action.vm"  1     0    99 )
    #button( "PRIORITY"  "MAX"  "priority.remPriority"  "./priorities/rem_action.vm"  1     0    99 )

</grid-form>
