<grid-form version="1.0"
    label=""
    writer="com.qmatic.web.serversettings.DefaultWriter">

    ##       SECTION   KEY    LABEL_ID                 SCRIPT_FILE        GROUP MIN  MAX
    ##-----------------------------------------------------------------------------------

    #button( $section  "MAX"  "terminals.addTerminal"  "./add_action.vm"  1     0    255 )
    #button( $section  "MAX"  "terminals.remTerminal"  "./rem_action.vm"  1     0    255 )

</grid-form>
