#loadcache2("TERMINAL" true)
#loadcache2("TERMINAL_TYPE*" false)

<grid-form version="1.0"
    writer="com.qmatic.web.serversettings.DefaultWriter">

    #cdata("label" $text.getText("termsingles.SettingsHeading"))
    
    #set( $section        = "TERMINAL_TYPE_$group"                     )

    ##    SECTION  KEY            LABEL_ID            TYPE       HELP_ID            MIN MAX   REGEXP
    ##----------------------------------------------------------------------------------------------

    #qsys($section "DIRECT_MAX"   "termsingles.max"   "number"   "termsingles.max"  0   255   ""   )


</grid-form>
