#loadcache2("TERMINAL" true)
#loadcache2("TERMINAL_TYPE*" false)

<grid-form version="1.0"

    writer="com.qmatic.web.serversettings.DefaultWriter">

    #cdata("label" "$text.getText('termkey.SettingsHeading') $item") 

    #set( $section        = "TERMINAL_TYPE_$group"                     )

    ##    SECTION   KEY         LABEL_ID          TYPE        HELP_ID          MIN MAX   REGEXP
    ##------------------------------------------------------------------------------------------

    #qsys($section  "KEY$item"  "termkey.name"    "text"      "termkey.name"   0   40    ""    )

</grid-form>
